html {
	height: 100%;
}

#loading{
	position: fixed;
    width: 200px;
    left: 45%;
    top: 25%;
}

body {	
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin:0;
}

.freez-color {
    background-color: #f79a8e !important;
}

.form-footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 2px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search-md],
input[type=search],
textarea.md-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  outline: none;
  height: 2.1rem;
  width: 100%;
  font-size: 1.5rem !important;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  }

/* Complete BreadCrum beautification */

#pageTitle{
	float: left;
}

.breadcrumb{
	float: right !important;
}

/* Complete Portal Anchor Tag Styling */

a {
	color: #4F1616 !important;
    text-decoration: none !important;
    font-size: 15px;
}

.active a {
	color: black !important;
	font-size: 17px;
}


/* Background Styling */

#portalBackground {
	position: relative;
	height: 100%;
    min-height: 250%;
    display: flex;
    flex-direction: column;
} 

#portalBackground #upperBlock{
	 height: 20%;
	 background-color: #F79A8E;
}

#portalBackground #lowerBlock{
	 height: 80%;
	 background-color: #83D4F7;
}


#mainContentHolder{
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin: 3%;
	padding: 2%;
	width: auto;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
	height: auto;
	
	z-index:1;
	background-color: #e6e6e68a;
}

div#searchDetailsBox,
div#salesSearchDetailsBox {
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

div#salesBillDetailsLayout,
div#searchProductSalesDetailsBox,
div#searchProductPurchaseDetailsBox{
	margin: 10px;
    border-radius: 5px;
    background: whitesmoke;
    padding: 5px;
    margin-bottom: 10px;
}

div#invoiceBasicDetails {
    background-color: whitesmoke;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

div#consolidatedPurchaseDetailsSearchBox,
div#consolidatedSalesDetailsSearchBox {
    background: whitesmoke;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

table#purchaseDetailsTable input{
	text-align: center;
}

/*************************************/


header.companyHeader {
    background: #e8e8e8;
    padding-bottom: 10px;
}

#titleImage{
	width: 400px;
}

.loginContainer {	
	margin-top: 80px;
    margin-bottom: 80px;
    border-radius:5px;
}

div#mainheader {
    margin: 0 auto;
    padding: 20px;
    background: #e0e0e0;
    box-shadow: 0 0 2px #000000;
}

div.mainDiv{
    margin: 0 auto;
}

#productLogo {
    width: 200px;
    display: block;
    margin: 0 auto;
    border: 1px solid #d2d2d2;
    padding: 20px;
    border-radius: 5px;
}

input.userInput, button#loginClick {
    width: 100%;
    display: block;
    margin: 10px 0 10px 0;
    padding: 5px;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 16px;
    color: gray;
    outline: none;
    border: 1px gray;
    border-radius: 5px;
}

button#loginClick {
    border: aliceblue;
    background: #abd7ff;
}

/* Form Styling */

div#mainFormCardHolder {
    padding: 5% 0%;
}

.form-header {
    color: #fff;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}

.messageBox {
	padding: 10px;
}

.messageBox h4{
	background: #f79a8e;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

/*	Purchase Details By Invoice Form	*/
table#purchaseDetailsByInvoiceTable input{
	text-align: center;
}

/* Delete Icon Style */
img#deleteIcon,
img#editIcon {
    width: 20px;
}
img#deleteIcon:hover {
    cursor: pointer;
}

/* Edit Icon Style */
img#editIcon {
	width: 20px;
}
img#editIcon:hover {
    cursor: pointer;
}

/* Sales Page Styling */
table#customerSalesTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customerSalesTable td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

#customerSalesTable tr:nth-child(even) {
    background-color: #dddddd;
}

/*	Table Styling	*/
table#purchaseDetailsByInvoiceTable {
    border-collapse: collapse;
}

table#purchaseDetailsByInvoiceTable, td, th {
    border: 1px solid black;
}

/* CSS Based Table Counter */
table#customerSalesTable,
table#soldItemsTable,
table#purchaseDetailsByInvoiceTable,
table#soldItemsTable,
table#purchaseDetailsTable,
table#productPurchaseDetailsTable {
	counter-reset: row-num;
}

table#customerSalesTable tbody tr,
table#soldItemsTable tbody tr,
table#purchaseDetailsByInvoiceTable tbody tr,
table#soldItemsTable tbody tr,
table#purchaseDetailsTable tbody tr,
table#productPurchaseDetailsTable tbody tr {
	counter-increment: row-num;
}

table#customerSalesTable tbody tr td:nth-child(2)::before {
    content: counter(row-num) ". ";
}

table#soldItemsTable tbody tr td:nth-child(1)::before,
table#purchaseDetailsByInvoiceTable tbody tr:even td:nth-child(1)::before,
table#soldItemsTable tbody tr td:nth-child(1)::before,
table#purchaseDetailsTable tbody tr td:nth-child(1)::before,
table#productPurchaseDetailsTable tbody tr td:nth-child(1)::before {
    content: counter(row-num) ". ";
}

/* Styling for Cursor change to pointer on hover */
i.fa.fa-times-circle-o {
    font-size: 18px;
    color: #f79a8e;
}
#deleteItem:hover {
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f79a8e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f79a8e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer Styling */

.content {
  flex: 1 0 auto;
  padding: 20px;
}

.footer {
	background-color: #e8e8e8;
 	flex-shrink: 0; 
  	padding: 20px;
}

img#companyLogo {
    width: 100%;
}

.companyTagline{
	letter-spacing: 1px;
}

/* Product Update, Invoice Update Modal */
.updateDealerBody,
.updateInvoiceBody,
.updateProductBody,
.updateProductSalesDetailsBody,
.updateProductPurchaseDetailsBody,
.deleteConfirmationBody,
.deleteSuccessfulBody{
	height: auto !important;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

.modal-body{
	overflow-y: auto !important;
    height: 50vh;
}

h4.modal-title {
    text-align: center;
}

.printSection{
	font-size	: 	1.3rem;
	margin		:	0;
	border		:	initial;
	border-radius	:	initial;
	width		:	initial;
	min-height	:	initial;
	box-shadow	:	initial;
	background	:	initial;
}

img.titleImage {
    width: 200px;
}

p#firmName,
p#firmArea,
p#firmCity,
p#firmGSTContactNumber,
p#salesBillHeading,
div#salesBillNumber,
div#todaysDateTime{
    text-align: center;
    margin: 0px;
}

span#dateContainer {
    float: left;
}

span#timeContainer {
    float: right;
}

table#soldItemsTable {
	margin-top	:	20px !important;
}

.returnNotification{
	text-align	:	center;
	margin: 0px;
}

.modal-footer {
    text-align: center !important;
}

.customTableBorder {
    border: 1px solid black;
    padding: 5px;
}

















