<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="ViewDealerListChunk">
	<div class="container">
		<table id="dealerListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl.No.</th>
					<th>Dealer</th>
					<th>Category</th>
					<th>Contact</th>
					<th>Landline</th>
					<th>GST</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dealer,iterator : ${registeredDealersList}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${dealer.dealerName}"></td>
					<td th:text="${dealer.dealerCategoryObject.dealerCategory}"></td>
					<td th:text="${dealer.dealerContactOne}"></td>
					<td th:text="${dealer.dealerContactTwo}"></td>
					<td th:text="${dealer.dealerGST}"></td>
					<td th:onclick="'editDealer(\'' + ${dealer.dealerID} + '\');'"><img id='editIcon' src='resources/images/edit.png' alt='X'/></td>
					<td th:onclick="'deleteDealer(\'' + ${dealer.dealerID} + '\');'"><img id='deleteIcon' src='resources/images/delete_icon.png' alt='X'/></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="updateDealerDetailsModal"></div>
	
	<th:block th:include="foodBazaar/firmLists/dealerList::OwnerDashboardDealerListScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardDealerListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		$(document).ready(function() {
		    $("#dealerListTable").DataTable({
		    	'iDisplayLength': 50
		    });
		} );
		
		var updateDealerID;
		var editableDealerObject;
		
		function editDealer(dealerID){
			updateDealerID = dealerID-1;
			editableDealerObject = registeredDealersList[updateDealerID];
			console.log(editableDealerObject);
			 $.ajax({
				type		:		"GET",
			    url			:		"editDealerDetails",
			    data		:		navigationData,
				success		:		function(response){
					$("#updateDealerDetailsModal").children().remove();
					$("#updateDealerDetailsModal").html(response);
					
					$("#dealerNameLabel").trigger("click");
					$("#dealerName").val(editableDealerObject.dealerName);
					
					setTimeout(function() {
						$("#dealerCategoryID").trigger("click");
						$("#dealerCategoryID").val(editableDealerObject.dealerCategoryObject.dealerCategoryID).change();
					}, 500);
					
					$("#dealerMobileNumberLabel").trigger("click");
					$("#dealerMobileNumber").val(editableDealerObject.dealerContactOne);
					
					$("#dealerGSTNumberLabel").trigger("click");
					$("#dealerGSTNumber").val(editableDealerObject.dealerGST);
										
					$("#dealerLandlineNumberLabel").trigger("click");
					$("#dealerLandlineNumber").val(editableDealerObject.dealerContactTwo);
					
					$("#dealerTINNumberLabel").trigger("click");
					$("#dealerTINNumber").val(editableDealerObject.dealerTIN);
					
					$("#dealerEmailLabel").trigger("click");
					$("#dealerEmail").val(editableDealerObject.dealerEmail);
					
					$("#dealerPANNumberLabel").trigger("click");
					$("#dealerPANNumber").val(editableDealerObject.dealerPAN);
					
					$("#dealerAddressLabel").trigger("click");
					$("#dealerAddress").val(editableDealerObject.dealerAddress);
					
					
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}
		
		function deleteDealer(dealerID){
			$.ajax({
				type		:		"GET",
			    url			:		"deleteConfirmation",
			    data		:		navigationData,
				success		:		function(response){
					$("#updateDealerDetailsModal").children().remove();
					$("#updateDealerDetailsModal").html(response);
					$("#deleteAction").removeAttr( "onclick" );
					$("#deleteAction").attr('onclick', "deleteDealerConfirmation(" + dealerID + ")");
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}
		
		function deleteDealerConfirmation(dealerID){
			dealerDeleteData		= 	"dealerID="+ dealerID +
										"&industryCategory=" + industryCategory +
										"&firmDBName=" + firmDBName + 
										"&firmDBUserName=" + firmDBUserName + 
										"&firmDBPassword=" + firmDBPassword;
			$.ajax({
				type		:		"POST",
			    url			:		"foodBazaar/dealerDelete",
			    data		:		dealerDeleteData,
				success		:		function(response){
					$("#updateDealerDetailsModal").children().remove();
					$("#updateDealerDetailsModal").html(response);
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}

		/*]]>*/
		</script>
	</th:block>
</html>