<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="ViewInvoiceListChunk">
	<div class="container">
		<table id="invoiceListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer Name</th>
					<th>Invoice Number</th>
					<th>Billing Date</th>
					<th>Delivery Date</th>
					<th>Invoice Amount</th>
					<th>Payment Due Date</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoice,iterator : ${registeredInvoiceList}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${invoice.dealerName}"></td>
					<td th:text="${invoice.invoiceNumber}"></td>
					<td th:text="${invoice.invoiceBillingDate}"></td>
					<td th:text="${invoice.invoiceDeliveryDate}"></td>
					<td>
						<span th:text="${invoice.invoiceAmount}"></span> + 
						<span th:text="${invoice.invoiceMarketFees}"></span> + 
						<span th:text="${invoice.invoiceTransportationUnloadingFees}"></span>
					</td>
					<td th:text="${invoice.invoicePaymentDueDate}"></td>
					<td th:onclick="'editInvoice(\'' + ${invoice.invoiceID} + '\');'"><img id='editIcon' src='resources/images/edit.png' alt='X'/></td>
					<td th:onclick="'deleteInvoice(\'' + ${invoice.invoiceID} + '\');'"><img id='deleteIcon' src='resources/images/delete_icon.png' alt='X'/></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="updateInvoiceDetailsModal"></div>
	
	<th:block th:include="foodBazaar/firmLists/invoiceList::OwnerDashboardInvoiceListScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardInvoiceListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		
		$(document).ready(function() {
		    $("#invoiceListTable").DataTable({
		    	'iDisplayLength': 50
		    });
		});
		
		var updateInvoiceID;
		var editableInvoiceObject;
			
		function editInvoice(invoiceID){
			updateInvoiceID = invoiceID-1;
			editableInvoiceObject = registeredInvoiceList[updateInvoiceID];
			console.log(editableInvoiceObject);
			$.ajax({
				type		:		"GET",
			    url			:		"editInvoiceDetails",
			    data		:		navigationData,
				success		:		function(response){
					console.log(editableInvoiceObject);
					$("#updateInvoiceDetailsModal").children().remove();
					$("#updateInvoiceDetailsModal").html(response);
					
					$("#dealerNameLable").trigger("click");
					$("#dealerName").val(editableInvoiceObject.dealerName);
					
					$("#invoiceNumberLabel").trigger("click");
					$("#invoiceNumber").val(editableInvoiceObject.invoiceNumber);
					
					$("#invoiceBilledAmountLabel").trigger("click");
					$("#invoiceBilledAmount").val(editableInvoiceObject.invoiceAmount);
					
					$("#invoiceMarketFeesLabel").trigger("click");
					$("#invoiceMarketFees").val(editableInvoiceObject.invoiceMarketFees);
					
					$("#invoiceTransportationUnloadingFeesLabel").trigger("click");
					$("#invoiceTransportationUnloadingFees").val(editableInvoiceObject.invoiceTransportationUnloadingFees);
					
					$("#invoiceBillingDateLabel").trigger("click");
					$("#invoiceBillingDate").val(editableInvoiceObject.invoiceBillingDate);
					
					$("#invoiceDeliveryDateLabel").trigger("click");
					$("#invoiceDeliveryDate").val(editableInvoiceObject.invoiceDeliveryDate);
					
					$("#invoicePaymentDueDateLabel").trigger("click");
					$("#invoicePaymentDueDate").val(editableInvoiceObject.invoicePaymentDueDate);
					$("#dealerNameLable").trigger("click");
					
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}
		
		function deleteInvoice(invoiceID){
			$.ajax({
				type		:		"GET",
			    url			:		"deleteConfirmation",
			    data		:		navigationData,
				success		:		function(response){
					$("#updateInvoiceDetailsModal").children().remove();
					$("#updateInvoiceDetailsModal").html(response);
					$("#deleteAction").removeAttr( "onclick" );
					$("#deleteAction").attr('onclick', "deleteProductConfirmation(" + invoiceID + ")");
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}
		
		function deleteProductConfirmation(invoiceID){
			invoiceDeleteData		= 	"invoiceID="+ invoiceID +
										"&industryCategory=" + industryCategory +
										"&firmDBName=" + firmDBName + 
										"&firmDBUserName=" + firmDBUserName + 
										"&firmDBPassword=" + firmDBPassword;
			$.ajax({
					type		:		"POST",
					url			:		"foodBazaar/invoiceDelete",
					data		:		invoiceDeleteData,
					success		:		function(response) {
						$("#updateInvoiceDetailsModal").children().remove();
						$("#updateInvoiceDetailsModal").html(response);
					},
					error		:		function(xhr, textStatus, errorThrown){
						console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
					}
				});
		}
		
		/*]]>*/
		</script>
	</th:block>
</html>