<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->

<th:block th:fragment="ViewPaymentListChunk">
	
	<div class="container">
	
	<div style="width: 100%;">
	  <div style="width: 50%; float: left;" class="customTableBorder">
	  	<h4 style="text-align: center;">Issued Payments Details</h4>
	  	<table id="todaysIssuedPaymentDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Invoice Details</th>
					<th>Amount</th>
					<th>Txn No</th>
					<th>EnCash Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paymentDetails,iterator : ${registeredInvoicePaymentList.todaysIssuedPaymentDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td>
						<span>Dealer - </span><span th:text="${paymentDetails.dealerName}"></span><br></br>
						<span>Invoice No - </span><span th:text="${paymentDetails.invoiceNumber}"></span><br></br>
						<span>Amount - </span><span th:text="${paymentDetails.invoiceAmount}"></span><br></br>
						<span>Issued Dt - </span><span th:text="${paymentDetails.paymentIssuedDate}"></span><br></br>
					</td>
					<td th:text="${paymentDetails.paymentAmount}"></td>
					<td th:text="${paymentDetails.paymentTransactionNumber}"></td>
					<td th:text="${paymentDetails.paymentEncashDate}"></td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div style="width: 50%; float: left;" class="customTableBorder">
	  	<h4 style="text-align: center;">Encashed Payments Details</h4>
	  	<table id="todaysEncashedPaymentDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Invoice Details</th>
					<th>Amount</th>
					<th>Txn No</th>
					<th>Issue Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paymentDetails,iterator : ${registeredInvoicePaymentList.todaysEnCashedPaymentDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td>
						<span>Dealer - </span><span th:text="${paymentDetails.dealerName}"></span><br></br>
						<span>Invoice No - </span><span th:text="${paymentDetails.invoiceNumber}"></span><br></br>
						<span>Amount - </span><span th:text="${paymentDetails.invoiceAmount}"></span><br></br>
						<span>Encashed Dt - </span><span th:text="${paymentDetails.paymentEncashDate}"></span><br></br>
					</td>
					<td th:text="${paymentDetails.paymentAmount}"></td>
					<td th:text="${paymentDetails.paymentTransactionNumber}"></td>
					<td th:text="${paymentDetails.paymentIssuedDate}"></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
		
	</div>
	<th:block th:include="foodBazaar/firmLists/paymentList::OwnerDashboardPaymentListScripts"></th:block>
</th:block>

<th:block th:fragment="ViewConditionalPaymentListChunk">
	
	<div class="container">
	
	<div style="width: 100%;">
	  <div style="width: 50%; float: left;" class="customTableBorder">
	  	<h4 style="text-align: center;">Issued Payments Details</h4>
	  	<table id="todaysIssuedPaymentDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Invoice Details</th>
					<th>Amount</th>
					<th>Txn No</th>
					<th>EnCash Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paymentDetails,iterator : ${registeredInvoicePaymentList.conditionalIssuedPaymentDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td>
						<span>Dealer - </span><span th:text="${paymentDetails.dealerName}"></span><br></br>
						<span>Invoice No - </span><span th:text="${paymentDetails.invoiceNumber}"></span><br></br>
						<span>Amount - </span><span th:text="${paymentDetails.invoiceAmount}"></span><br></br>
						<span>Issued Dt - </span><span th:text="${paymentDetails.paymentIssuedDate}"></span><br></br>
					</td>
					<td th:text="${paymentDetails.paymentAmount}"></td>
					<td th:text="${paymentDetails.paymentTransactionNumber}"></td>
					<td th:text="${paymentDetails.paymentEncashDate}"></td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div style="width: 50%; float: left;" class="customTableBorder">
	  	<h4 style="text-align: center;">Encashed Payments Details</h4>
	  	<table id="todaysEncashedPaymentDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Invoice Details</th>
					<th>Amount</th>
					<th>Txn No</th>
					<th>Issue Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paymentDetails,iterator : ${registeredInvoicePaymentList.conditionalEnCashedPaymentDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td>
						<span>Dealer - </span><span th:text="${paymentDetails.dealerName}"></span><br></br>
						<span>Invoice No - </span><span th:text="${paymentDetails.invoiceNumber}"></span><br></br>
						<span>Amount - </span><span th:text="${paymentDetails.invoiceAmount}"></span><br></br>
						<span>Encashed Dt - </span><span th:text="${paymentDetails.paymentEncashDate}"></span><br></br>
					</td>
					<td th:text="${paymentDetails.paymentAmount}"></td>
					<td th:text="${paymentDetails.paymentTransactionNumber}"></td>
					<td th:text="${paymentDetails.paymentIssuedDate}"></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
		
	</div>
	<th:block th:include="foodBazaar/firmLists/paymentList::OwnerDashboardPaymentListScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardPaymentListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var registeredInvoicePaymentList = /*[[${registeredInvoicePaymentList}]]*/ 'registeredInvoicePaymentList';
		console.log(registeredInvoicePaymentList);
		
		$(document).ready(function() {
		    $("#todaysIssuedPaymentDetailsTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});
		
		$(document).ready(function() {
		    $("#todaysEncashedPaymentDetailsTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});

		
		/*]]>*/
		</script>
	</th:block>
</html>