<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="ViewProductPurchaseListChunk">
	<div id="searchProductPurchaseDetailsBox" class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<input type="text" name="" id="searchProductName" class="form-control" onKeyPress="populateDealerName(this.value)" onKeyUp="populateDealerName(this.value)"/>
                    <label for="searchDealerName">Type Dealer Name to Search</label>
				</div>
			</div>
		</div>
		<!-- **************************************************************** -->
		<div class="row">	
			<!-- Segment to search Dealer by Name and Respective Invoice -->
			<div class="col-md-12">
			<div class="col-md-6">
				<div class="md-form">
					<select id="searchDealerNameDropdown" name="dealerID" class="form-control" onchange="populateDealerInvoice(this.value)">
                       	<option selected="true" disabled="disabled">Select Dealer Name</option>
                       </select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form">
					<select id="searchDealerInvoiceDropdown" name="invoiceID" class="form-control" onchange="loadInvoicePurchaseDetails(this.value)">
						<option selected="true" disabled="disabled">Select Dealer Invoice</option>
					</select>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- **************************************************************** -->
	
	<div class="container">
		<div class="row">	
			<div id="OwnerDashboardProductPurchaseDetailsListMainFragmentBody"></div>	
		</div>
	</div>
	
	<div id="updateProductPurchaseDetailsModal"></div>
	
	<th:block th:include="foodBazaar/firmForms/addInvoiceForm::OwnerAddInvoiceFormScripts"></th:block>
	<th:block th:include="foodBazaar/firmLists/productPurchaseList::OwnerDashboardProductPurchaseListScripts"></th:block>
</th:block>

<!-- **************************************************************** -->

<th:block th:fragment="ViewProductPurchaseDetailsListChunk">
<div class="container">
		<table id='productPurchaseDetailsListTable' class='display' width='100%' cellspacing='0'> 
			<thead>
				<tr>
					<th style='width: 4%'><center>No.</center></th>
					<th style='width: 40%'><center>Item</center></th>
					<th style='width: 8%'><center>MRP</center></th>
					<th style='width: 8%'><center>Tax</center></th>
					<th style='width: 8%'><center>Cess</center></th>
					<th style='width: 8%'><center>Rate</center></th>
					<th style='width: 8%'><center>Qty</center></th>
					<th style='width: 8%'><center>Disc</center></th>
					<th style='width: 4%'><center>Edit</center></th>
					<th style='width: 4%'><center>Delete</center></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="productPurchaseDetails,iterator : ${productPurchaseDetailsList}">
					<td th:text="${iterator.index} + 1"></td>
					<td>
						<span th:text="${productPurchaseDetails.productObject.productName}"></span>
						<span th:text="${productPurchaseDetails.productObject.productPackedQuantity}"></span>
						<span th:text="${productPurchaseDetails.productObject.productUnit}"></span>
					</td>
					<td th:text="${productPurchaseDetails.productPurchaseMRP}"></td>
					<td>
						<span th:text="${productPurchaseDetails.productPurchaseTax} * 100"></span>
						<span>%</span>
					</td>
					<td th:text="${productPurchaseDetails.productPurchaseCess}"></td>
					<td th:text="${productPurchaseDetails.productPurchaseUnitCost}"></td>
					<td>
						<span th:text="${productPurchaseDetails.productPurchasePaidQuantity}"></span>
						<span> + </span>
						<span th:text="${productPurchaseDetails.productPurchaseFreeQuantity}"></span>
					</td>
					<td>
						<span th:text="${productPurchaseDetails.productPurchasePrimaryDiscount}"></span>
						<span> + </span>
						<span th:text="${productPurchaseDetails.productPurchaseSecondaryDiscount}"></span>
					</td>
					<td th:onclick="'editProductPurchaseDetails(\'' + ${productPurchaseDetails.productPurchaseDetailsID} + '\');'"><img id='editIcon' src='resources/images/edit.png' alt='X'/></td>
					<td th:onclick="'deleteProductPurchaseDetails(\'' + ${productPurchaseDetails.productPurchaseDetailsID} + '\');'"><img id='deleteIcon' src='resources/images/delete_icon.png' alt='X'/></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="foodBazaar/firmLists/productPurchaseList::OwnerDashboardProductPurchaseListScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardProductPurchaseListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
	
	var productPurchaseDetailsList = /*[[${productPurchaseDetailsList}]]*/ 'productPurchaseDetailsList';
			
		$(document).ready(function() {
		    $("#productPurchaseDetailsListTable").DataTable({
		    	'iDisplayLength': 50
		    });
		} );
		
			
			/* AJAX defined in FoodBazaarProductPurchaseController	*/
	function loadInvoicePurchaseDetails(invoiceID){ 
		var obtainedDealerId = $("#searchDealerNameDropdown").val(); 
		var obtainedInvoiceId = $("#searchDealerInvoiceDropdown").val(); 
		var productPurchaseSearchData	=	"dealerID=" + obtainedDealerId + 
											"&invoiceID=" + obtainedInvoiceId +
											"&industryCategory=" + industryCategory +
											"&firmDBName=" + firmDBName + 
											"&firmDBUserName=" + firmDBUserName + 
											"&firmDBPassword=" + firmDBPassword;
		
		if((obtainedDealerId!="") && (obtainedInvoiceId!="")){
			$.ajax({
				url				:			'foodBazaar/retrieveProductPurchaseDetailsList',
				type			:			'GET',
				data			:			productPurchaseSearchData,
				success			:			function(response) {
					$("#OwnerDashboardProductPurchaseDetailsListMainFragmentBody").children().remove();
					$("#OwnerDashboardProductPurchaseDetailsListMainFragmentBody").html(response);
				},
				error			:			function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}
	}
			
	
	function editProductPurchaseDetails(productPurchaseDetailsID){
		editableProductPurchaseObject = productPurchaseDetailsList.filter(function( obj ) {
			return obj.productPurchaseDetailsID == productPurchaseDetailsID;
		});
		
		console.log(editableProductPurchaseObject);
		$.ajax({
			type		:		"GET",
		    url			:		"editProductPurchaseDetails",
		    data		:		navigationData,
			success		:		function(response){
				$("#updateProductPurchaseDetailsModal").children().remove();
				$("#updateProductPurchaseDetailsModal").html(response);
				
				$("#purchaseProductDescription").append("<h4>" + editableProductPurchaseObject[0].productObject.productName + editableProductPurchaseObject[0].productPurchasePackedQuantity + editableProductPurchaseObject[0].productPurchaseUnit + "</h4>");
				
				$("#productPurchasePackedQuantityLable").trigger("click");
				$("#productPurchasePackedQuantity").val(editableProductPurchaseObject[0].productPurchasePackedQuantity);
				
				$("#productUnitSelect").val(editableProductPurchaseObject[0].productPurchaseUnit).change();
				
				$("#productPurchaseMRPLable").trigger("click");
				$("#productPurchaseMRP").val(editableProductPurchaseObject[0].productPurchaseMRP);
				
				$("#productPurchaseUnitCostLabel").trigger("click");
				$("#productPurchaseUnitCost").val(editableProductPurchaseObject[0].productPurchaseUnitCost);
				
				$("#productPurchaseTax").val(editableProductPurchaseObject[0].productPurchaseTax).change();
				
				$("#productPurchasePaidQuantityLabel").trigger("click");
				$("#productPurchasePaidQuantity").val(editableProductPurchaseObject[0].productPurchasePaidQuantity);
				
				$("#productPurchaseFreeQuantityLabel").trigger("click");
				$("#productPurchaseFreeQuantity").val(editableProductPurchaseObject[0].productPurchaseFreeQuantity);
				
				$("#productPurchaseThresholdQuantityLabel").trigger("click");
				$("#productPurchaseThresholdQuantity").val(editableProductPurchaseObject[0].productPurchaseThresholdQuantity);
				
				
				if(editableProductPurchaseObject[0].productPurchasePrimaryDiscount < 1 && editableProductPurchaseObject[0].productPurchaseSecondaryDiscount < 1){
					applicableDiscountType = '1';
					applicablePrimaryDiscount = +editableProductPurchaseObject[0].productPurchasePrimaryDiscount * 100;
					applicableSecondaryDiscount = +editableProductPurchaseObject[0].productPurchaseSecondaryDiscount * 100;
					
					$("#productPurchasePrimaryDiscountLabel").trigger("click");
					$("#productPurchasePrimaryDiscount").val(applicablePrimaryDiscount);
					
					$("#productPurchaseSecondaryDiscountLable").trigger("click");
					$("#productPurchaseSecondaryDiscount").val(applicableSecondaryDiscount);
					
					$("#applicableDiscountType").val(1).change();
					
				} else if (editableProductPurchaseObject[0].productPurchasePrimaryDiscount > 1 && editableProductPurchaseObject[0].productPurchaseSecondaryDiscount > 1){
					applicableDiscountType = '2';
					applicablePrimaryDiscount = editableProductPurchaseObject[0].productPurchasePrimaryDiscount;
					applicableSecondaryDiscount = editableProductPurchaseObject[0].productPurchaseSecondaryDiscount;
					
					$("#productPurchasePrimaryDiscountLabel").trigger("click");
					$("#productPurchasePrimaryDiscount").val(applicablePrimaryDiscount);
					
					$("#productPurchaseSecondaryDiscountLable").trigger("click");
					$("#productPurchaseSecondaryDiscount").val(applicableSecondaryDiscount);
					
					$("#applicableDiscountType").val(1).change();
				}
				
			},
			error		:		function(xhr, textStatus, errorThrown){
				console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
			}
		});
	}
	
	function deleteProductPurchaseDetails(productPurchaseDetailsID){
		$.ajax({
			type		:		"GET",
		    url			:		"deleteConfirmation",
		    data		:		navigationData,
			success		:		function(response){
				$("#updateProductPurchaseDetailsModal").children().remove();
				$("#updateProductPurchaseDetailsModal").html(response);
				$("#deleteAction").removeAttr( "onclick" );
				$("#deleteAction").attr('onclick', "deleteProductPurchaseConfirmation(" + productPurchaseDetailsID + ")");
			},
			error		:		function(xhr, textStatus, errorThrown){
				console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
			}
		});
	}
	
	function deleteProductPurchaseConfirmation(productPurchaseDetailsID){
		productPurchaseDeleteData		= 	"productPurchaseDetailsID="+ productPurchaseDetailsID +
											"&industryCategory=" + industryCategory +
											"&firmDBName=" + firmDBName + 
											"&firmDBUserName=" + firmDBUserName + 
											"&firmDBPassword=" + firmDBPassword;
			$.ajax({
				type		:		"POST",
				url			:		"foodBazaar/productPurchaseDetailsDelete",
				data		:		productPurchaseDeleteData,
				success		:		function(response) {
					$("#updateProductPurchaseDetailsModal").children().remove();
					$("#updateProductPurchaseDetailsModal").html(response);
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
	}
		
		/*]]>*/
		</script>
	</th:block>
</html>