<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- **************************************************************** -->
<th:block th:fragment="ViewProductDetailsChunk">
	<div id="searchDetailsBox" class="container">
		<div class="row">	
			<!-- Segment to search Product by Name and BarCode-->
			<div class="col-md-12">
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<input type="text" name="" id="searchProductName" class="form-control"  onKeyPress="retrieveProductByParameter(this.value)" onKeyUp="retrieveProductByParameter(this.value)"/>
                    <label for="searchProductName">Type Product Name or BarCode to Search</label>
				</div>
				<div class="md-form">
					<select name="" id="searchedProductDropDown" class="form-control" onchange="retrieveProductPurchaseSalesDetails(this.value)">
						<option selected="true" disabled="disabled">Searched Product</option>
					</select>
				</div>
			</div>
		</div>
	</div>
<!-- **************************************************************** -->
	
	<div class="container">
		<div class="row">	
			<div id="OwnerDashboardProductDetailsMainFragmentBody"></div>	
		</div>
	</div>
	
	<div id="updateProductSalesDetailsModal"></div>
	
	<th:block th:include="foodBazaar/firmDetails/productDetails::OwnerDashboardProductDetailsScripts"></th:block>
</th:block>

<!-- **************************************************************** -->

<th:block th:fragment="ViewProductPurchaseSalesDetailsChunk">
	<div class="container">
		<table id="productDetailsListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl.No.</th>
					<th>Company/Brand</th>
					<th>Product</th>
					<th>Package</th>
					<th>Category</th>
					<th>Sub Category</th>
					<!-- <th>Edit</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="product,iterator : ${retrievedProductPurchaseSaleDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${product.productCompany}"></td>
					<td th:text="${product.productName}"></td>
					<td><span th:text="${product.productPackedQuantity}"></span><span th:text="${product.productUnit}"></span></td>
					<td th:switch="${product.productCategoryObject == null}? ${true} : ${false}">
						<span th:case="${true}">--</span>
						<span th:case="${false}" th:text="${product.productCategoryObject.productCategory}"></span>
					</td>
					<td th:switch="${product.productSubCategoryObject == null}? ${true} : ${false}">
						<span th:case="${true}">--</span>
						<span th:case="${false}" th:text="${product.productSubCategoryObject.productSubCategory}"></span>
					</td>
					<!-- <td th:onclick="'editProduct(\'' + ${product.productID} + '\');'"><i class="fa fa-edit"></i></td> -->
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container">
	<div style="width: 100%;">
	  <div style="width: 50%; float: left;">
	  	<table id="productPurchaseDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl.</th>
					<th>Invoice</th>
					<th>MRP</th>
					<th>Qty</th>
					<th>Dealer Price</th>
					<!-- <th>Edit</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="productPurchaseDetails,iterator : ${retrievedProductPurchaseSaleDetails.productPurchaseObject}">
					<td th:text="${iterator.index} + 1"></td>
					<td><span th:text="${productPurchaseDetails.dealerName}"></span> <span th:text="${productPurchaseDetails.invoiceNumber}"></span></td>
					<td th:text="${productPurchaseDetails.productPurchaseMRP}"></td>
					<td th:text="${productPurchaseDetails.productPurchasePaidQuantity} + ${productPurchaseDetails.productPurchaseFreeQuantity}"></td>
					<td th:text="${productPurchaseDetails.productPurchaseUnitCost} * (1 + ${productPurchaseDetails.productPurchaseTax})"></td>
					<!-- <td><img id='editIcon' src='resources/images/edit.png' alt='X'/></td> -->
				</tr>
			</tbody>
		</table>
	  </div>
	  <div style="width: 50%; float: left;">
	  	<table id="productSaleDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sales Disc</th>
					<th>Sale Price</th>
					<th>Sold Qty</th>
					<th>Tax</th>
					<th>Cess</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="productSaleDetails : ${retrievedProductPurchaseSaleDetails.productSalesObject}">
					<td th:text="${productSaleDetails.productSalesDiscount}"></td>
					<td th:text="${productSaleDetails.productSalesPrice}"></td>
					<td th:text="${productSaleDetails.productSoldQuantity}"></td>
					<td th:text="${productSaleDetails.productSalesTax}"></td>
					<td th:text="${productSaleDetails.productSalesCess}"></td>
					<td th:onclick="'editProductSalesDetails(\'' + ${productSaleDetails.productSalesID} + '\');'"><img id='editIcon' src='resources/images/edit.png' alt='X'/></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
		
	</div>
		
	
<!-- **************************************************************** -->
	
	<th:block th:include="foodBazaar/firmDetails/productDetails::OwnerDashboardProductDetailsScripts"></th:block>
</th:block>


<th:block th:fragment="OwnerDashboardProductDetailsScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		var retrievedProductPurchaseSaleDetails = /*[[${retrievedProductPurchaseSaleDetails}]]*/ 'retrievedProductPurchaseSaleDetails';
		
		$(document).ready(function() {
		    $("#productPurchaseDetailsTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});
		
		$(document).ready(function() {
		    $("#productSaleDetailsTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});

		$(document).ready(function() {
		    $("#productDetailsListTable").DataTable({
		    	'iDisplayLength': 50
		    });
		} );
		
		$(document).ready(function() {
		   
		});
		
		function retrieveProductPurchaseSalesDetails(productID){
			var productDetailsSearchData	=	"productID=" + productID +
												"&industryCategory=" + industryCategory + 
												"&firmDBName=" + firmDBName + 
												"&firmDBUserName=" + firmDBUserName + 
												"&firmDBPassword=" + firmDBPassword;
			
			if(productID!=""){
 				$.ajax({
					url				:			'foodBazaar/retrieveProductPurchaseSaleDetails',
					type			:			'GET',
					data			:			productDetailsSearchData,
					success			:			function(response) {
						$("#OwnerDashboardProductDetailsMainFragmentBody").children().remove();
						$("#OwnerDashboardProductDetailsMainFragmentBody").html(response);
						console.log(retrievedProductPurchaseSaleDetails);
					},
					error			:			function(xhr, textStatus, errorThrown){
						console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
					}
					
				}); 
		
			}
			
		}
		
		/* -------------------------------------------------- */
		
		var updateProductSalesID;
		/* var editableProductSalesObject; */
		
		function editProductSalesDetails(selectedProductSalesID){
			console.log(retrievedProductPurchaseSaleDetails.productSalesObject);
			
			editableProductSalesObject = retrievedProductPurchaseSaleDetails.productSalesObject.filter(function( obj ) {
				return obj.productSalesID == selectedProductSalesID;
			});
			/* editableProductSalesObject = retrievedProductPurchaseSaleDetails.productSalesObject[updateProductSalesID]; */
			console.log(editableProductSalesObject);
			 $.ajax({
				type		:		"GET",
			    url			:		"editProductSalesDetails",
			    data		:		navigationData,
				success		:		function(response){
					$("#updateProductSalesDetailsModal").children().remove();
					$("#updateProductSalesDetailsModal").html(response);
					
					$("#productSalesPriceLabel").trigger("click");
					$("#productSalesPrice").val(editableProductSalesObject[0].productSalesPrice);
					
					$("#productSoldQuantityLabel").trigger("click");
					$("#productSoldQuantity").val(editableProductSalesObject[0].productSoldQuantity);
					
					var currentDiscountID;
					var currentDiscountValue;
					if(editableProductSalesObject[0].productSalesDiscount < 1){
						currentDiscountID = '1';
						currentDiscountValue = +editableProductSalesObject[0].productSalesDiscount * 100;
					} else if (editableProductSalesObject[0].productSalesDiscount > 1){
						currentDiscountID = '2';
						currentDiscountValue = +editableProductSalesObject[0].productSalesDiscount;
					} else{
						currentDiscountValue = 0;
					}
					
					$("#applicableDiscountValueLabel").trigger("click");
					$("#applicableDiscountValue").val(currentDiscountValue);
					
					$("applicableDiscount").val(currentDiscountID).change();
					
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}

		/*]]>*/
		</script>
	</th:block>
</html>