<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
<th:block th:fragment="ViewSalesDetailsChunk">
<div id="salesSearchDetailsBox" class="container">
		<!-- <div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<input type="text" name="" id="searchProductName" class="form-control" onKeyPress="populateDealerName(this.value)" onKeyUp="populateDealerName(this.value)"/>
                    <label for="searchDealerName">Type Dealer Name to Search</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<select id="searchDealerNameDropdown" name="dealerID" class="form-control">
                       	<option selected="true" disabled="disabled">Select Dealer Name</option>
                       </select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getPaymentDetails()">Search</button>
				</div>
			</div>
			</div>
		</div> -->
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
		<div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
					<input type="text" name="" id="invoiceBillingStartDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingStartDate">Billing Start Date</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
                    <input type="text" name="" id="invoiceBillingEndDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingEndDate">Billing End Date</label>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getSalesDetails()">Search</button>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
	<div class="container">
		<div class="row">	
			<div id="OwnerDashboardSalesDetailsMainFragmentBody"></div>
		</div>
	</div>
	<th:block th:include="foodBazaar/firmForms/addInvoiceForm::OwnerAddInvoiceFormScripts"></th:block>
	<th:block th:include="foodBazaar/firmDetails/firmSalesList/salesDetails::OwnerDashboardSalesDetailsScripts"></th:block>
</th:block>
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->

<th:block th:fragment="ViewSalesDetailsTableChunk">
	<div class="container">
		<table id="salesListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Bill Number</th>
					<th>Sales Man</th>
					<th>Customer Name</th>
					<th>Contact</th>
					<th>Company</th>
					<th>Product</th>
					<th>Sold Qty</th>
					<th>Sales Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="soldItem,iterator : ${todaysSalesDetails.todaysSales}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${soldItem.saleBillNumber}"></td>
					<td th:text="${soldItem.salesManName}"></td>
					<td th:text="${soldItem.customerName}"></td>
					<td th:text="${soldItem.customerContactNumber}"></td>
					<td th:text="${soldItem.productCompanyName}"></td>
					<td><span th:text="${soldItem.productName}"></span><span th:text="${soldItem.productPackedQuantity}"></span><span th:text="${soldItem.productPackedUnit}"></span></td>
					<td th:text="${soldItem.productSoldQuantity}"></td>
					<td th:text="${soldItem.productSalesPrice} * (1 + ${soldItem.productSalesDiscount})"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="foodBazaar/firmDetails/firmSalesList/salesDetails::OwnerDashboardSalesDetailsScripts"></th:block>
</th:block>

<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->

<th:block th:fragment="ViewCustomisedSalesDetailsTableChunk">
	<div class="container">
		<table id="salesListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Bill Number</th>
					<th>Sales Man</th>
					<th>Customer Name</th>
					<th>Contact</th>
					<th>Company</th>
					<th>Product</th>
					<th>Sold Qty</th>
					<th>Sales Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="soldItem,iterator : ${customisedSalesDetails.customisedSales}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${soldItem.saleBillNumber}"></td>
					<td th:text="${soldItem.salesManName}"></td>
					<td th:text="${soldItem.customerName}"></td>
					<td th:text="${soldItem.customerContactNumber}"></td>
					<td th:text="${soldItem.productCompanyName}"></td>
					<td><span th:text="${soldItem.productName}"></span><span th:text="${soldItem.productPackedQuantity}"></span><span th:text="${soldItem.productPackedUnit}"></span></td>
					<td th:text="${soldItem.productSoldQuantity}"></td>
					<td th:text="${soldItem.productSalesPrice} * (1 + ${soldItem.productSalesDiscount})"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="foodBazaar/firmDetails/firmSalesList/salesDetails::OwnerDashboardSalesDetailsScripts"></th:block>
</th:block>

<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->

<th:block th:fragment="OwnerDashboardSalesDetailsScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		var todaysSalesDetails = /*[[${todaysSalesDetails}]]*/ 'todaysSalesDetails';
		var customisedSalesDetails = /*[[${customisedSalesDetails}]]*/ 'customisedSalesDetails';
		
		
		
		$(document).ready(function() {
		    $("#salesListTable").DataTable({
		    	'iDisplayLength': 100
		    });
		} );
		
		function getSalesDetails(){
			var salesStartDate = $("#invoiceBillingStartDate").val();
			var salesEndDate = $("#invoiceBillingEndDate").val();
			
			var customisedSalesSearchData	=	"salesStartDate=" + salesStartDate +
												"&salesEndDate=" + salesEndDate +
												"&industryCategory=" + industryCategory +
												"&firmDBName=" + firmDBName +
												"&firmDBUserName=" + firmDBUserName + 
												"&firmDBPassword=" + firmDBPassword;
			
			console.log(customisedSalesSearchData);
			
			$.ajax({
					type		:		"GET",
					url			:		"foodBazaar/retrieveCustomisedSalesDetails",
					data		:		customisedSalesSearchData,
					success		:		function(response){
						$("#OwnerDashboardSalesDetailsMainFragmentBody").html(response);
					},
						error		:		function(xhr, textStatus, errorThrown){
						console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
						}
				});
			
		}

		/*]]>*/
		</script>
	</th:block>
</html>