<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="ViewDealerListChunk">
	<div class="container">
		<table id="dealerListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer</th>
					<th>Category</th>
					<th>Contact</th>
					<th>Email</th>
					<th>Address</th>
					<th>GST</th>
					<th>TIN</th>
					<th>PAN</th>
				</tr>
			</thead>
			<tbody>
				<tr th:id="${dealer.dealerID}" th:each="dealer,iterator : ${registeredDealersList}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${dealer.dealerName}"></td>
					<td th:text="${dealer.dealerCategoryObject.dealerCategory}"></td>
					<td th:text="${dealer.dealerContactOne}"></td>
					<td th:text="${dealer.dealerEmail}"></td>
					<td th:text="${dealer.dealerAddress}"></td>
					<td th:text="${dealer.dealerGST}"></td>
					<td th:text="${dealer.dealerTIN}"></td>
					<td th:text="${dealer.dealerPAN}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="foodBazaar/firmLists/dealerList::OwnerDashboardDealerListScripts"></th:block>
</th:block>

<th:block th:fragment="salesReturnList">
	<div>
		<h4 id="salesCountMessage"></h4>
		<table id="salesReturnListTableDisplay"
			class="table table-striped table-bordered">
			<thead style="border: 1px solid black;">
				<tr style="border: 1px solid black;">
					<th style="width: 60%">Item</th>
					<th style="width: 20px">MRP</th>
					<th style="width: 20px">Price</th>
					<th style="width: 20px">QTY</th>
					<th style="width: 20px">Return QTY</th>
					<!-- <th style="width: 20px">Value</th> -->
				</tr>
			</thead>
			<tbody>
				<tr class="sellingItemsRow" th:each="list:${salesList}">
					<td th:text="${list.product.productName}"></td>
					<td th:text="${list.inventory.mrp}"></td>
					<td th:text="${list.inventory.sellingPrice}"></td>
					<td th:text="${list.sales.salesQuantity}"></td>
					<td><input type="text" name="salesReturnQuantity"
						id="salesReturnQuantity" value="0" /></td>
					<td>
						<form>
							<input type="hidden" name="salesId"
								th:value="${list.sales.salesId}" /> <input type="hidden"
								name="productId" th:value="${list.sales.productId}" /> <input
								type="hidden" name="inventoryId"
								th:value="${list.sales.inventoryId}" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="button" value="Sales Return Submit"
			id="salesReturnSubmit" />
		<th:block th:include="sales::salesScripts"></th:block>
	</div>
</th:block>

<th:block th:fragment="OwnerDashboardDealerListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		$(document).ready(function() {
		    $("#dealerListTable").DataTable();
		} );

		/*]]>*/
		</script>
	</th:block>
</html>