<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="ViewDealerListChunk">
	<div class="container">
		<table id="dealerListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer</th>
					<th>Category</th>
					<th>Contact</th>
					<th>Email</th>
					<th>Address</th>
					<th>GST</th>
					<th>TIN</th>
					<th>PAN</th>
				</tr>
			</thead>
			<tbody>
				<tr th:id="${dealer.dealerID}" th:each="dealer,iterator : ${registeredDealersList}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${dealer.dealerName}"></td>
					<td th:text="${dealer.dealerCategoryObject.dealerCategory}"></td>
					<td th:text="${dealer.dealerContactOne}"></td>
					<td th:text="${dealer.dealerEmail}"></td>
					<td th:text="${dealer.dealerAddress}"></td>
					<td th:text="${dealer.dealerGST}"></td>
					<td th:text="${dealer.dealerTIN}"></td>
					<td th:text="${dealer.dealerPAN}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="foodBazaar/firmLists/dealerList::OwnerDashboardDealerListScripts"></th:block>
</th:block>


<th:block th:fragment="OwnerDashboardDealerListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		$(document).ready(function() {
		    $("#dealerListTable").DataTable();
		} );

		/*]]>*/
		</script>
	</th:block>
</html>