<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
<th:block th:fragment="ViewPaymentDetailsChunk">
	<div id="searchDetailsBox" class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<input type="text" name="" id="searchProductName" class="form-control" onKeyPress="populateDealerName(this.value)" onKeyUp="populateDealerName(this.value)"/>
                    <label for="searchDealerName">Type Dealer Name to Search</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<select id="searchDealerNameDropdown" name="dealerID" class="form-control">
                       	<option selected="true" disabled="disabled">Select Dealer Name</option>
                       </select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getPaymentDetails()">Search</button>
				</div>
			</div>
			</div>
		</div>
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
		<div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
					<input type="text" name="" id="invoiceBillingStartDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingStartDate">Billing Start Date</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
                    <input type="text" name="" id="invoiceBillingEndDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingEndDate">Billing End Date</label>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getPaymentDetails()">Search</button>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
	<div class="container">
		<div class="row">	
			<div id="OwnerDashboardPaymentDetailsMainFragmentBody"></div>
		</div>
	</div>
	<th:block th:include="clothing/firmForms/addInvoiceForm::OwnerAddInvoiceFormScripts"></th:block>
	<th:block th:include="clothing/firmDetails/paymentDetails::OwnerDashboardPaymentDetailsScripts"></th:block>
</th:block>
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->

<th:block th:fragment="ViewPaymentDetailsTableChunk">
	
	<div class="container">
		<table id="invoiceListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Product Name</th>
					<th>Package</th>
					<th>MRP</th>
					<th>Dealer Price</th>
					<th>Quantity</th>
					<th>Free</th>
					<th>Disc</th>
					<th>Disc</th>
					<th>Tax</th>
					<th>Total Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoiceDetails,iterator : ${registeredInvoiceDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${invoiceDetails.productName}"></td>
					<td><span th:text="${invoiceDetails.productPackedQuantity}"></span><span th:text="${invoiceDetails.productPackedUnit}"></span></td>
					<td th:text="${invoiceDetails.productMRP}"></td>
					<td th:text="${invoiceDetails.productUnitCost}"></td>
					<td th:text="${invoiceDetails.productPaidQuantity}"></td>
					<td th:text="${invoiceDetails.productFreeQuantity}"></td>
					<td th:text="${invoiceDetails.productPrimaryDiscount}"></td>
					<td th:text="${invoiceDetails.productSecondaryDiscount}"></td>
					<td th:text="${invoiceDetails.productTax}"></td>
					<td th:text="${invoiceDetails.productUnitCost} * ${invoiceDetails.productPaidQuantity}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="clothing/firmDetails/paymentDetails::OwnerDashboardPaymentDetailsScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardPaymentDetailsScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		var registeredPaymentsList = /*[[${registeredPaymentsList}]]*/ 'registeredPaymentsList';
			
		$(document).ready(function() {
		    $("#invoiceListTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});

		/*
		 * Load Dealer Invoice Details - AJAX call to invoiceController.java
		 */
		
	 	function getPaymentDetails(){
			var dealerID = $("#searchDealerNameDropdown").val();
			if(dealerID == ""){
				dealerID = 0;
			}
			var invoiceBillingStartDate = $("#invoiceBillingStartDate").val();
			if(invoiceBillingStartDate == ""){
				invoiceBillingStartDate = "01/01/2000";
			}
			var invoiceBillingEndDate = $("#invoiceBillingEndDate").val();
			if(invoiceBillingEndDate == ""){
				invoiceBillingEndDate = "01/01/2099";
			}
			
			var purchaseDetailsSearchData	=	"dealerID=" + dealerID + 
												"&billingStartingDate=" + invoiceBillingStartDate +
												"&billingEndingDate=" + invoiceBillingEndDate +
												"&industryCategory=" + industryCategory +
												"&firmDBName=" + firmDBName + 
												"&firmDBUserName=" + firmDBUserName + 
												"&firmDBPassword=" + firmDBPassword;
			
			if((dealerID!="") || (invoiceBillingStartDate != "" && invoiceBillingEndDate != "")){
				/* $.ajax({
					url				:			'clothing/retrievePaymentDetails',
					type			:			'GET',
					data			:			purchaseDetailsSearchData,
					success			:			function(response) {
						console.log(response);
						$("#OwnerDashboardPaymentDetailsMainFragmentBody").children().remove();
						$("#OwnerDashboardPaymentDetailsMainFragmentBody").html(response);
												
						console.log(registeredPaymentsList);
						
					}
				}); */
		
			}
		}
		
	 	function getRegisteredDate(dateInMiliseconds){
			var registeredDate = new Date(dateInMiliseconds);
			return registeredDate.getDate() + "-" + registeredDate.getMonth() + "-" + registeredDate.getFullYear();
		}
		
		/*]]>*/
		</script>
	</th:block>
</html>