<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="ViewInvoiceListChunk">
	<div class="container">
		<table id="invoiceListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer Name</th>
					<th>Invoice Number</th>
					<th>Billing Date</th>
					<th>Delivery Date</th>
					<th>Invoice Amount</th>
					<th>Market Fees</th>
					<th>Other Charges</th>
					<th>Payment Due Date</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoice,iterator : ${registeredInvoiceList}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${invoice.dealerName}"></td>
					<td th:text="${invoice.invoiceNumber}"></td>
					<td th:text="${#dates.format(invoice.invoiceBillingDate.time, 'dd-MM-yyyy')}"></td>
					<td th:text="${#dates.format(invoice.invoiceDeliveryDate.time, 'dd-MM-yyyy')}"></td>
					<td th:text="${invoice.invoiceAmount}"></td>
					<td th:text="${invoice.invoiceMarketFees}"></td>
					<td th:text="${invoice.invoiceTransportationUnloadingFees}"></td>
					<td th:text="${#dates.format(invoice.invoicePaymentDueDate.time, 'dd-MM-yyyy')}"></td>
					<td th:onclick="'editInvoice(\'' + ${invoice.invoiceID} + '\');'"><i class="fa fa-edit"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="updateInvoiceDetailsModal"></div>
	
	<th:block th:include="clothing/firmLists/invoiceList::OwnerDashboardInvoiceListScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardInvoiceListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		
		$(document).ready(function() {
		    $("#invoiceListTable").DataTable({
		    	'iDisplayLength': 50
		    });
		});
		
		var updateInvoiceID;
		var editableInvoiceObject;
			
		function editInvoice(invoiceID){
			updateInvoiceID = invoiceID-1;
			editableInvoiceObject = registeredInvoiceList[updateInvoiceID];
			console.log(editableInvoiceObject);
			$.ajax({
				type		:		"GET",
			    url			:		"editInvoiceDetails",
			    data		:		navigationData,
				success		:		function(response){
					$("#updateInvoiceDetailsModal").children().remove();
					$("#updateInvoiceDetailsModal").html(response);
					
					$("#dealerNameLable").trigger("click");
					$("#dealerName").val(editableInvoiceObject.dealerName);
					
					$("#invoiceNumberLabel").trigger("click");
					$("#invoiceNumber").val(editableInvoiceObject.invoiceNumber);
					
					$("#invoiceBilledAmountLabel").trigger("click");
					$("#invoiceBilledAmount").val(editableInvoiceObject.invoiceAmount);
					
					$("#invoiceMarketFeesLabel").trigger("click");
					$("#invoiceMarketFees").val(editableInvoiceObject.invoiceMarketFees);
					
					$("#invoiceTransportationUnloadingFeesLabel").trigger("click");
					$("#invoiceTransportationUnloadingFees").val(editableInvoiceObject.invoiceTransportationUnloadingFees);
					
					$("#invoiceBillingDateLabel").trigger("click");
					$("#invoiceBillingDate").val(getDate(editableInvoiceObject.invoiceBillingDate.time));
					
					$("#invoiceDeliveryDateLabel").trigger("click");
					$("#invoiceDeliveryDate").val(getDate(editableInvoiceObject.invoiceDeliveryDate.time));
					
					$("#invoicePaymentDueDateLabel").trigger("click");
					$("#invoicePaymentDueDate").val(getDate(editableInvoiceObject.invoicePaymentDueDate.time));
					$("#dealerNameLable").trigger("click");
					
					
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}
		
		function getDate(dateInMiliseconds){
			var tempDate = new Date(dateInMiliseconds);
			return (+tempDate.getMonth()+1) + "/" + tempDate.getDate() + "/" + tempDate.getFullYear();
		}
		
		/*]]>*/
		</script>
	</th:block>
</html>