<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->

<th:block th:fragment="ViewPaymentListChunk">
	
	<div class="container">
	
	<div style="width: 100%;">
	  <div style="width: 50%; float: left;">
	  	<table id="todaysIssuedPaymentDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer Name</th>
					<th>Amount</th>
					<th>Transaction No</th>
					<th>EnCash Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paymentDetails,iterator : ${registeredInvoicePaymentList.todaysIssuedPaymentDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td><span th:text="${paymentDetails.dealerName}"></span> <span th:text="${paymentDetails.invoiceNumber}"></span></td>
					<td th:text="${paymentDetails.invoiceAmount}"></td>
					<td th:text="${paymentDetails.paymentTransactionNumber}"></td>
					<td th:text="${#dates.format(paymentDetails.paymentEncashDate.time, 'dd-MM-yyyy')}"></td>
				</tr>
			</tbody>
		</table>
	  </div>
	  <div style="width: 50%; float: left;">
	  	<table id="todaysEncashedPaymentDetailsTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer Name</th>
					<th>Amount</th>
					<th>Transaction No</th>
					<th>Issue Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="paymentDetails,iterator : ${registeredInvoicePaymentList.todaysEnCashedPaymentDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td><span th:text="${paymentDetails.dealerName}"></span> <span th:text="${paymentDetails.invoiceNumber}"></span></td>
					<td th:text="${paymentDetails.invoiceAmount}"></td>
					<td th:text="${paymentDetails.paymentTransactionNumber}"></td>
					<td th:text="${#dates.format(paymentDetails.paymentIssuedDate.time, 'dd-MM-yyyy')}"></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
		
	</div>
	<th:block th:include="clothing/firmLists/paymentList::OwnerDashboardPaymentListScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardPaymentListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var registeredInvoicePaymentList = /*[[${registeredInvoicePaymentList}]]*/ 'registeredInvoicePaymentList';
		console.log(registeredInvoicePaymentList);
		
		$(document).ready(function() {
		    $("#todaysIssuedPaymentDetailsTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});
		
		$(document).ready(function() {
		    $("#todaysEncashedPaymentDetailsTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});

		
		/*]]>*/
		</script>
	</th:block>
</html>