<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="ViewProductListChunk">
	
	<div class="container">
		<table id="productDetailsListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl.No.</th>
					<th>Company/Brand</th>
					<th>Product</th>
					<th>Package</th>
					<th>Category</th>
					<th>Sub Category</th>
					<!-- <th>BarCode</th> -->
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product,iterator : ${retrievedProduct}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${product.productCompany}"></td>
					<td th:text="${product.productName}"></td>
					<td><span th:text="${product.productPackedQuantity}"></span><span th:text="${product.productUnit}"></span></td>
					<td th:switch="${product.productCategoryObject == null}? ${true} : ${false}">
						<span th:case="${true}">--</span>
						<span th:case="${false}" th:text="${product.productCategoryObject.productCategory}"></span>
					</td>
					<td th:switch="${product.productSubCategoryObject == null}? ${true} : ${false}">
						<span th:case="${true}">--</span>
						<span th:case="${false}" th:text="${product.productSubCategoryObject.productSubCategory}"></span>
					</td>
					<!-- <td th:text="${product.productBarCode}"></td> -->
					<td th:onclick="'editProduct(\'' + ${product.productID} + '\');'"><i class="fa fa-edit"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="updateProductDetailsModal"></div>
	
	<th:block th:include="clothing/firmLists/productList::OwnerDashboardProductListScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardProductListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		$(document).ready(function() {
		    $("#productDetailsListTable").DataTable({
		    	'iDisplayLength': 50
		    });
		} );

		var updateProductID;
		var editableProductObject;
				
		function editProduct(productID){
			updateProductID = productID-1;
			editableProductObject = retrievedProduct[updateProductID];
			$.ajax({
				type		:		"GET",
			    url			:		"editProductDetails",
			    data		:		navigationData,
				success		:		function(response){
					$("#updateProductDetailsModal").children().remove();
					$("#updateProductDetailsModal").html(response);
					
					$("#productBarCodeLabel").trigger("click");
					$("#productBarCode").val(editableProductObject.productBarCode);
					
					$("#productCompanyNameLabel").trigger("click");
					$("#productCompanyName").val(editableProductObject.productCompany);
					
					$("#productNameLabel").trigger("click");
					$("#productName").val(editableProductObject.productName);
					
					$("#productPackedQuantityLabel").trigger("click");
					$("#productPackedQuantity").val(editableProductObject.productPackedQuantity);
					
					$("#productUnit").trigger("click");
					$("#productUnit").val(editableProductObject.productUnit).change();
					
					setTimeout(function() {
						$("#searchProductCategoryDropdown").trigger("click");
						$("#searchProductCategoryDropdown").val(editableProductObject.productCategoryObject.productCategoryID).change();
					}, 500);
						
					setTimeout(function() {
						$("#searchProductSubCategoryDropdown").trigger("click");
						$("#searchProductSubCategoryDropdown").val(editableProductObject.productSubCategoryObject.productSubCategoryID).change();
					}, 1000);
					
				},
				error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
				}
			});
		}
		
		
		/*]]>*/
		</script>
	</th:block>
</html>