<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
<th:block th:fragment="ViewInvoiceDetailsChunk">
	<div id="searchDetailsBox" class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<input type="text" name="" id="searchProductName" class="form-control" onKeyPress="populateDealerName(this.value)" onKeyUp="populateDealerName(this.value)"/>
                    <label for="searchDealerName">Type Dealer Name to Search</label>
				</div>
			</div>
		</div>
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
		<div class="row">	
			<!-- Segment to search Dealer by Name and Respective Invoice -->
			<div class="col-md-12">
			<div class="col-md-6">
				<div class="md-form">
					<select id="searchDealerNameDropdown" name="dealerID" class="form-control" onchange="populateDealerInvoice(this.value)">
                       	<option selected="true" disabled="disabled">Select Dealer Name</option>
                       </select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="md-form">
					<select id="searchDealerInvoiceDropdown" name="invoiceID" class="form-control" onchange="loadInvoiceDetails(this.value)">
						<option selected="true" disabled="disabled">Select Dealer Invoice</option>
					</select>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">	
			<div id="OwnerDashboardInvoiceDetailsMainFragmentBody"></div>	
		</div>
	</div>
	<th:block th:include="clothing/firmForms/addInvoiceForm::OwnerAddInvoiceFormScripts"></th:block>
	<th:block th:include="clothing/firmDetails/invoiceDetails::OwnerDashboardInvoiceDetailsScripts"></th:block>
</th:block>
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->

<th:block th:fragment="ViewInvoiceDetailsTableChunk">
	<h4 id="InvoiceDetailsWarningMessage"></h4>
	<div id="invoiceBasicDetails" class="container">
		<div class="row">	
			<div class="col-md-3" id="invoiceNumber"></div>
			<div class="col-md-3" id="invoiceBillingDate"></div>
			<div class="col-md-3" id="invoiceDeliveryDate"></div>
			<div class="col-md-3" id="invoicePaymentDueDate"></div>
		</div>
		<hr></hr>
		<div class="row">	
			<div class="col-md-4" id="invoiceAmount"></div>
			<div class="col-md-4" id="invoiceMarketFees"></div>
			<div class="col-md-4" id="invoiceTransportationUnloadingFees"></div>
		</div>
		<hr></hr>
		<div class="row">	
			<div class="col-md-3" id="invoiceEnteredBy"></div>
			<div class="col-md-3" id="invoiceEnteredDate"></div>
			<div class="col-md-3" id="invoiceUpdatedBy"></div>
			<div class="col-md-3" id="invoiceUpdatedDate"></div>
		</div>
	</div>
	
	<div class="container">
		<table id="invoiceListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Product Name</th>
					<th>Package</th>
					<th>MRP</th>
					<th>Dealer Price</th>
					<th>Quantity</th>
					<th>Free</th>
					<th>Disc</th>
					<th>Disc</th>
					<th>Tax</th>
					<th>Total Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoiceDetails,iterator : ${registeredInvoiceDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${invoiceDetails.productName}"></td>
					<td><span th:text="${invoiceDetails.productPackedQuantity}"></span><span th:text="${invoiceDetails.productPackedUnit}"></span></td>
					<td th:text="${invoiceDetails.productMRP}"></td>
					<td th:text="${invoiceDetails.productUnitCost}"></td>
					<td th:text="${invoiceDetails.productPaidQuantity}"></td>
					<td th:text="${invoiceDetails.productFreeQuantity}"></td>
					<td th:text="${invoiceDetails.productPrimaryDiscount}"></td>
					<td th:text="${invoiceDetails.productSecondaryDiscount}"></td>
					<td th:text="${invoiceDetails.productTax}"></td>
					<td th:text="${invoiceDetails.productUnitCost} * ${invoiceDetails.productPaidQuantity}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="clothing/firmDetails/invoiceDetails::OwnerDashboardInvoiceDetailsScripts"></th:block>
</th:block>

<th:block th:fragment="OwnerDashboardInvoiceDetailsScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		var registeredInvoiceDetails = /*[[${registeredInvoiceDetails}]]*/ 'registeredInvoiceDetails';
			
		$(document).ready(function() {
		    $("#invoiceListTable").DataTable({
		    	'iDisplayLength': 100
		    });
		});

		/*
		 * Load Dealer Invoice Details - AJAX call to invoiceController.java
		 */
		
	 	function loadInvoiceDetails(invoiceID){ 
			var invoiceDetailsSearchData	=	"invoiceID=" + invoiceID + 
												"&industryCategory=" + industryCategory +									
												"&firmDBName=" + firmDBName + 
												"&firmDBUserName=" + firmDBUserName + 
												"&firmDBPassword=" + firmDBPassword;
			if(invoiceID!=""){
				$.ajax({
					url				:			'clothing/retrieveInvoiceDetails',
					type			:			'GET',
					data			:			invoiceDetailsSearchData,
					success			:			function(response) {
						$("#OwnerDashboardInvoiceDetailsMainFragmentBody").children().remove();
						$("#OwnerDashboardInvoiceDetailsMainFragmentBody").html(response);
						console.log(registeredInvoiceDetails);
						if(registeredInvoiceDetails.length == 0){
							$("#InvoiceDetailsWarningMessage").children().remove();
							$("#InvoiceDetailsWarningMessage").append("<span>Invoice Details Not Entered</span>");
							$("#invoiceBasicDetails").children().remove();
							$("#invoiceListTable").children().remove();
						}else {
							$("#OwnerDashboardInvoiceDetailsMainFragmentBody").children().remove();
							$("#OwnerDashboardInvoiceDetailsMainFragmentBody").html(response);
							/* ------------------------------------------------ */
							$("#invoiceNumber").append("<span>INVOICE No. - " + registeredInvoiceDetails[0].invoiceNumber + "</span>");
							$("#invoiceBillingDate").append("<span>BILL Dt. - " + getDate(registeredInvoiceDetails[0].invoiceBillingDate.time) + "</span>");
							$("#invoiceDeliveryDate").append("<span>DELIVERY Dt. - " + getDate(registeredInvoiceDetails[0].invoiceDeliveryDate.time) + "</span>");
							$("#invoicePaymentDueDate").append("<span>PAYMENT DUE Dt. - " + getDate(registeredInvoiceDetails[0].invoicePaymentDueDate.time) + "</span>");
							/* ------------------------------------------------ */
							$("#invoiceAmount").append("<span>INVOICE Amt. - " + registeredInvoiceDetails[0].invoiceAmount + "</span>");
							$("#invoiceMarketFees").append("<span>Market Fee - " + registeredInvoiceDetails[0].invoiceMarketFees + "</span>");
							$("#invoiceTransportationUnloadingFees").append("<span>Unloading Chrgs - " + registeredInvoiceDetails[0].invoiceTransportationUnloadingFees + "</span>");
							/* ------------------------------------------------ */
							$("#invoiceEnteredBy").append("<span>INVOICE TYPED BY - " + registeredInvoiceDetails[0].invoiceEnteredBy + "</span>");
							$("#invoiceEnteredDate").append("<span>Dt. - " + getDate(registeredInvoiceDetails[0].invoiceEnteredDate.time) + "</span>");
							$("#invoiceUpdatedBy").append("<span>INVOICE UPDATED BY - " + registeredInvoiceDetails[0].invoiceUpdatedBy + "</span>");
							$("#invoiceUpdatedDate").append("<span>Dt. - " + registeredInvoiceDetails[0].invoiceUpdatedDate + "</span>");
						
						}

					}
				});
		
			}
		}
		
	 	function getDate(dateInMiliseconds){
			var tempDate = new Date(dateInMiliseconds);
			return tempDate.getDate() + "-" + (+tempDate.getMonth() + 1) + "-" + tempDate.getFullYear();
		}
		
		/*]]>*/
		</script>
	</th:block>
</html>