<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="ViewDealerListChunk">
	<div class="container">
		<table id="dealerListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer</th>
					<th>Category</th>
					<th>Contact</th>
					<th>Email</th>
					<th>Address</th>
					<th>GST</th>
					<th>TIN</th>
					<th>PAN</th>
				</tr>
			</thead>
			<tbody>
				<tr th:id="${dealer.dealerID}" th:each="dealer,iterator : ${registeredDealersList}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${dealer.dealerName}"></td>
					<td th:text="${dealer.dealerCategoryObject.dealerCategory}"></td>
					<td th:text="${dealer.dealerContactOne}"></td>
					<td th:text="${dealer.dealerEmail}"></td>
					<td th:text="${dealer.dealerAddress}"></td>
					<td th:text="${dealer.dealerGST}"></td>
					<td th:text="${dealer.dealerTIN}"></td>
					<td th:text="${dealer.dealerPAN}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="clothing/firmLists/dealerList::OwnerDashboardDealerListScripts"></th:block>
</th:block>

<th:block th:fragment="salesList">
	<div>
		<h4 id="salesCountMessage"></h4>
		<table id="salesListTableDisplay"
			class="table table-striped table-bordered">
			<thead>
				<tr>
					<th style="width: 20%">SL. No.</th>
					<th style="width: 60%">Item</th>
					<th style="width: 20px">MRP</th>
					<th style="width: 20px">Tax Value</th>
					<th style="width: 20px">Price</th>
					<th style="width: 20px">QTY</th>
					<th style="width: 20px">Value</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="list:${salesList}">
					<td id="serialNumber"></td>
					<td class="verticalSplit" th:text="${list.product.productName}"></td>
					<td class="verticalSplit" th:text="${list.inventory.mrp}"></td>
					<td class="verticalSplit" th:text="${list.product.tax.taxValue}"></td>
					<td class="verticalSplit" th:text="${list.inventory.sellingPrice}"></td>
					<td class="verticalSplit" th:text="${list.salesQuantity}"></td>
					<td class="verticalSplit" id="displaySalesQuantity"></td>
				</tr>
			</tbody>
		</table>
		<th:block th:include="sales::salesScripts"></th:block>
	</div>
</th:block>

<th:block th:fragment="OwnerDashboardDealerListScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		$(document).ready(function() {
		    $("#dealerListTable").DataTable();
		} );

		/*]]>*/
		</script>
	</th:block>
</html>