<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="ViewConsolidatedSalesDetailsChunk">
<div id="consolidatedSalesDetailsSearchBox" class="container">
		<!-- <div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<input type="text" name="" id="searchProductName" class="form-control" onKeyPress="populateDealerName(this.value)" onKeyUp="populateDealerName(this.value)"/>
                    <label for="searchDealerName">Type Dealer Name to Search</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<select id="searchDealerNameDropdown" name="dealerID" class="form-control">
                       	<option selected="true" disabled="disabled">Select Dealer Name</option>
                       </select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getConsolidatedSalesDetails()">Search</button>
				</div>
			</div>
			</div>
		</div> -->
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
		<div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
					<input type="text" name="" id="invoiceBillingStartDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingStartDate">Billing Start Date</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
                    <input type="text" name="" id="invoiceBillingEndDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingEndDate">Billing End Date</label>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getConsolidatedSalesDetails()">Search</button>
				</div>
			</div>
			</div>
		</div>
	</div>
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
	<div class="container">
		<div class="row">	
			<div id="OwnerDashboardConsolidatedSalesDetailsMainFragmentBody"></div>
		</div>
	</div>
	<th:block th:include="foodBazaar/firmForms/addInvoiceForm::OwnerAddInvoiceFormScripts"></th:block>
	<th:block th:include="foodBazaar/firmAccounts/consolidatedSalesDetails::OwnerDashboardConsolidatedSalesDetailsScripts"></th:block>
</th:block>

<th:block th:fragment="ViewConsolidatedSalesTableChunk">
	<div class="container">
		<table id="consolidatedSalesDetailsListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Category</th>
					<th>Date</th>
					<th>Bill Start</th>
					<th>Bill End</th>
					<th>0% GST</th>
					<th>5% GST</th>
					<th>12% GST</th>
					<th>18% GST</th>
					<th>28% GST</th>
					<th>Cess</th>
					<th>CGST</th>
					<th>SGST</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="salesDetails,iterator : ${retrievedConsolidatedSalesDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:switch="${salesDetails.salesDealerCategoryID == 1}? ${true} : ${false}">
						<span th:case="${true}">Registered</span>
						<span th:case="${false}">Non Registered</span>
					</td>
					<td th:text="${salesDetails.salesDate}"></td>
					<td th:text="${salesDetails.consolidatedSalesID}"></td>
					<td th:text="${salesDetails.consolidatedSalesID} + ${salesDetails.salesBillEndNumber}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_0_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_5_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_12_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_18_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_28_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_CESS, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_CGST, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(salesDetails.sales_SGST, 0, 'COMMA', 2, 'POINT')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="foodBazaar/firmAccounts/consolidatedSalesDetails::OwnerDashboardConsolidatedSalesDetailsScripts"></th:block>
</th:block>


<th:block th:fragment="OwnerDashboardConsolidatedSalesDetailsScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			
		var retrievedConsolidatedSalesDetails = /*[[${retrievedConsolidatedSalesDetails}]]*/ 'retrievedConsolidatedSalesDetails';
		
		function getConsolidatedSalesDetails(){

			var salesStartDate = $("#invoiceBillingStartDate").val();
			var salesEndDate = $("#invoiceBillingEndDate").val();
			
			var conditionalSalesDetailsData		=	"salesStartDate=" + salesStartDate +
													"&salesEndDate=" + salesEndDate +
													"&industryCategory=" + industryCategory +
													"&firmDBName=" + firmDBName + 
													"&firmDBUserName=" + firmDBUserName + 
													"&firmDBPassword=" + firmDBPassword;
			$.ajax({
				type		:		"GET",
				url			:		"foodBazaar/retrieveConsolidatedSalesDetails",
				data		:		conditionalSalesDetailsData,
				success		:		function(response){
					$("#OwnerDashboardConsolidatedSalesDetailsMainFragmentBody").children().remove();
					$("#OwnerDashboardConsolidatedSalesDetailsMainFragmentBody").html(response);
				},
					error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
					}
			});
		}
		
		$(document).ready(function() {
			console.log(retrievedConsolidatedSalesDetails);
		    $("#consolidatedSalesDetailsListTable").DataTable({
		    	'iDisplayLength': 100,
		    	dom: 'Bfrtip',
		        buttons: [
		        	'copy',
		            {
		                extend: 'excel',
		                messageTop: " " + userObject.firmObject.firmName + " " + userObject.firmObject.firmAddress + " "  + userObject.firmObject.firmStreet + " ",
		            },
		            {
		                extend: 'pdf',
		                messageBottom: null
		            },
		            {
		                extend: 'print',
		                messageTop: function () {
		                    printCounter++;
		 
		                    if ( printCounter === 1 ) {
		                        return 'This is the first time you have printed this document.';
		                    }
		                    else {
		                        return 'You have printed this document '+printCounter+' times';
		                    }
		                },
		                messageBottom: null
		            }
		        ],
		    });
		});

		/*]]>*/
		</script>
	</th:block>
</html>