<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="ViewConsolidatedPurchaseDetailsChunk">
<div id="consolidatedPurchaseDetailsSearchBox" class="container">
		<!-- <div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-pencil prefix grey-text"></i>
					<input type="text" name="" id="searchProductName" class="form-control" onKeyPress="populateDealerName(this.value)" onKeyUp="populateDealerName(this.value)"/>
                    <label for="searchDealerName">Type Dealer Name to Search</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<select id="searchDealerNameDropdown" name="dealerID" class="form-control">
                       	<option selected="true" disabled="disabled">Select Dealer Name</option>
                       </select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getConsolidatedPurchaseDetails()">Search</button>
				</div>
			</div>
			</div>
		</div> -->
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
		<div class="row">
			<div class="col-md-12">
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
					<input type="text" name="" id="invoiceBillingStartDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingStartDate">Billing Start Date</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="md-form">
					<i class="fa fa-calendar prefix grey-text"></i>
                    <input type="text" name="" id="invoiceBillingEndDate" required="required" class="form-control" data-toggle="datepicker"/>
                    <label for="invoiceBillingEndDate">Billing End Date</label>
				</div>
			</div>
			<div class="col-md-2">
				<div class="md-form">
					<button class="col-md-12 form-footer freez-color" type="button" onclick="getConsolidatedPurchaseDetails()">Search</button>
				</div>
			</div>
			</div>
		</div>
	</div>
<!-- 888888888888888888888888888888888888888888888888888888888888888888 -->
	<div class="container">
		<div class="row">	
			<div id="OwnerDashboardConsolidatedPurchaseDetailsMainFragmentBody"></div>
		</div>
	</div>
	<th:block th:include="foodBazaar/firmForms/addInvoiceForm::OwnerAddInvoiceFormScripts"></th:block>
	<th:block th:include="foodBazaar/firmAccounts/consolidatedPurchaseDetails::OwnerDashboardConsolidatedPurchaseDetailsScripts"></th:block>
</th:block>

<th:block th:fragment="ViewConsolidatedPurchaseTableChunk">
	<div class="container">
		<table id="consolidatedPurchaseDetailsListTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Sl. No.</th>
					<th>Dealer</th>
					<th>GST</th>
					<th>Invoice</th>
					<th>Date</th>
					<th>0% GST</th>
					<th>5% GST</th>
					<th>12% GST</th>
					<th>18% GST</th>
					<th>28% GST</th>
					<th>Cess</th>
					<th>CGST</th>
					<th>SGST</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="purchaseDetails,iterator : ${retrievedConsolidatedPurchaseDetails}">
					<td th:text="${iterator.index} + 1"></td>
					<td th:text="${purchaseDetails.dealerObject.dealerName}"></td>
					<td th:text="${purchaseDetails.dealerObject.dealerGST}"></td>
					<td th:text="${purchaseDetails.invoiceObject.invoiceNumber}"></td>
					<td th:text="${purchaseDetails.purchaseDate}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_0_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_5_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_12_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_18_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_28_slab, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_CESS, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_CGST, 0, 'COMMA', 2, 'POINT')}"></td>
					<td th:text="${#numbers.formatDecimal(purchaseDetails.purchase_SGST, 0, 'COMMA', 2, 'POINT')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:include="foodBazaar/firmAccounts/consolidatedPurchaseDetails::OwnerDashboardConsolidatedPurchaseDetailsScripts"></th:block>
</th:block>


<th:block th:fragment="OwnerDashboardConsolidatedPurchaseDetailsScripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var retrievedConsolidatedPurchaseDetails = /*[[${retrievedConsolidatedPurchaseDetails}]]*/ 'retrievedConsolidatedPurchaseDetails';
		
		function getConsolidatedPurchaseDetails(){

			var purchaseStartDate = $("#invoiceBillingStartDate").val();
			var purchaseEndDate = $("#invoiceBillingEndDate").val();
			
			var conditionalPurchaseDetailsData		=	"purchaseStartDate=" + purchaseStartDate +
														"&purchaseEndDate=" + purchaseEndDate +
														"&industryCategory=" + industryCategory +
														"&firmDBName=" + firmDBName + 
														"&firmDBUserName=" + firmDBUserName + 
														"&firmDBPassword=" + firmDBPassword;
			$.ajax({
				type		:		"GET",
				url			:		"foodBazaar/retrieveConsolidatedPurchaseDetails",
				data		:		conditionalPurchaseDetailsData,
				success		:		function(response){
					$("#OwnerDashboardConsolidatedPurchaseDetailsMainFragmentBody").children().remove();
					$("#OwnerDashboardConsolidatedPurchaseDetailsMainFragmentBody").html(response);
					console.log(retrievedConsolidatedPurchaseDetails);
				},
					error		:		function(xhr, textStatus, errorThrown){
					console.log("STATUS: " + textStatus + "\nERROE THROWN: " + errorThrown);
					}
			});
		}
		
		$(document).ready(function() {
			
			console.log(retrievedConsolidatedPurchaseDetails);
		    $("#consolidatedPurchaseDetailsListTable").DataTable({
		    	'iDisplayLength': 100,
		    	dom: 'Bfrtip',
		        buttons: [
		        	'copy',
		            {
		                extend: 'excel',
		                messageTop: " " + userObject.firmObject.firmName + " " + userObject.firmObject.firmAddress + " "  + userObject.firmObject.firmStreet + " ",
		            },
		            {
		                extend: 'pdf',
		                messageBottom: null
		            },
		            {
		                extend: 'print',
		                messageTop: function () {
		                    printCounter++;
		 
		                    if ( printCounter === 1 ) {
		                        return 'This is the first time you have printed this document.';
		                    }
		                    else {
		                        return 'You have printed this document '+printCounter+' times';
		                    }
		                },
		                messageBottom: null
		            }
		        ]
		    	
		    });
		});

		/*]]>*/
		</script>
	</th:block>
</html>